.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    height: 80px;
}

.wrapper p {
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.wrapper p:hover{
    color: rgb(98,126,235);
    transition: 0.25s;
}

.home_box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 150px;
}

.home {
    text-decoration: none;
    color: #fff;
}

